@tailwind base;
@tailwind utilities;
@tailwind components;


@font-face {
  font-family: "YoungSerif";
  src: url("../public/fonts/YoungSerif.otf");
}



@layer components {
  .btn-primary {
    @apply px-5 py-2 bg-wine hover:bg-darkwine text-beige font-manrope font-bold rounded-lg text-base w-full;
  }

  .btn-secondary {
    @apply px-5 py-2 text-wine hover:text-darkwine font-manrope font-bold rounded-lg text-base;
  }

  .btn-google {
    @apply px-5 py-2 border-2 hover:bg-slate-100 font-manrope font-bold rounded-xl text-base;
  }

  .input-type {
    @apply rounded-lg caret-wine font-manrope px-2 py-2 bg-shadow border-shadow outline-none w-full text-wine font-semibold;
  }

  .tab-item {
    @apply text-base font-manrope font-bold text-gray-900 hover:text-gray-700;
  }

  .tab-item-active {
    @apply text-base font-manrope font-extrabold text-wine hover:text-darkwine underline decoration-wine decoration-4 underline-offset-4;
  }

  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.v46_21 {
  width: 100%;
  height: 1117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
}
.v46_22 {
  width: 100%;
  height: 1119px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_36 {
  width: 100%;
  height: 100%;
  background: rgba(243,243,243,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v135_40 {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255,249,243,1), rgba(255,246,245,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_33 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 407px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v163_27 {
  width: 156px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 817px;
  left: 477px;
  overflow: hidden;
}
.v163_28 {
  width: 156px;
  height: 60px;
  background: rgba(194,56,79,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v163_29 {
  width: 156px;
  color: rgba(255,226,198,1);
  position: absolute;
  top: 17px;
  left: 0px;
  font-family: Manrope, serif;
  font-weight: bolder;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v163_24 {
  width: 406px;
  height: 113px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 477px;
  overflow: hidden;
}
.v163_25 {
  width: 381px;
  height: 60px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 25px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v163_26 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Manrope, serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v163_23 {
  width: 406px;
  height: 113px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 477px;
  overflow: hidden;
}
.v163_18 {
  width: 381px;
  height: 60px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 25px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v163_22 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Manrope, serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v163_36 {
  width: 406px;
  height: 113px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 477px;
  overflow: hidden;
}
.v163_37 {
  width: 381px;
  height: 60px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 25px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v163_38 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Manrope, serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v134_17 {
  width: 163px;
  color: rgba(109,109,109,1);
  position: absolute;
  top: 316px;
  left: 501px;
  font-family: Manrope, serif;
  font-weight: bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v163_19 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 263px;
  left: 477px;
  font-family: Manrope, serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v46_46 {
  width: 373px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 119px;
  left: 477px;
  font-family: YoungSerif, serif;
  font-weight: normal;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v46_51 {
  width: 301px;
  height: 945px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 53px;
  overflow: hidden;
}
.v46_52 {
  width: 193px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 880px;
  left: 52px;
  overflow: hidden;
}
.v46_53 {
  width: 216px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 12px;
  overflow: hidden;
}
.v46_54 {
  width: 42px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 12px;
  overflow: hidden;
}
.v46_55 {
  width: 42px;
  height: 55px;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(196,196,196,1);
  overflow: hidden;
}
.v46_56 {
  width: 41px;
  height: 54px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border: 3px solid rgba(196,196,196,1);
}
.v46_57 {
  width: 31px;
  height: 18px;
  background: rgba(149,149,149,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 5px;
}
.v46_58 {
  width: 121px;
  color: rgba(194,56,79,1);
  position: absolute;
  top: 12px;
  left: 72px;
  font-family: YoungSerif, serif;
  font-weight: normal;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v46_59 {
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v135_36 {
  width: 301px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 643px;
  left: 0px;
  overflow: hidden;
}
.v135_37 {
  width: 301px;
  height: 90px;
  background: rgba(194,56,79,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v135_38 {
  width: 140px;
  color: rgba(255,226,198,1);
  position: absolute;
  top: 29px;
  left: 126px;
  font-family: Manrope, serif;
  font-weight: bolder;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.name {
  color: #fff;
}
.v135_30 {
  width: 301px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 0px;
  overflow: hidden;
}
.v135_51 {
  width: 301px;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v135_32 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 158px;
  font-family: Manrope, serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v135_27 {
  width: 301px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 0px;
  overflow: hidden;
}
.v135_50 {
  width: 301px;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v135_29 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 180px;
  font-family: Manrope, serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v135_26 {
  width: 301px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 0px;
  overflow: hidden;
}
.v134_16 {
  width: 301px;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v46_45 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 198px;
  font-family: Manrope, serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.name {
  color: #fff;
}
.v136_24 {
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 106px;
  overflow: hidden;
}
.v136_18 {
  width: 90px;
  height: 90px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v136_20 {
  width: 80px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
}
.v136_21 {
  width: 80px;
  height: 80px;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(196,196,196,1);
  overflow: hidden;
}
.v136_22 {
  width: 78px;
  height: 78px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border: 3px solid rgba(196,196,196,1);
}
.v136_23 {
  width: 31px;
  height: 18px;
  background: rgba(149,149,149,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 24px;
}
.v136_19 {
  width: 166px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 104px;
  left: 68px;
  font-family: Manrope, serif;
  font-weight: bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}