@tailwind base;
@tailwind utilities;
@tailwind components;


@font-face {
  font-family: "YoungSerif";
  src: url("../public/fonts/YoungSerif.otf");
}

@layer base {
  ol {
    @apply list-disc;
    list-style-position: inside;
  }

  li {
    @apply break-words py-1.5 font-manrope;
  }
}

@layer components {
  .btn-primary {
    @apply px-5 py-2 bg-wine hover:bg-darkwine text-beige font-manrope font-bold rounded-lg text-base w-full;
  }

  .btn-secondary {
    @apply px-5 py-2 text-wine hover:text-darkwine font-manrope font-bold rounded-lg text-base;
  }

  .btn-regular {
    @apply px-5 py-2 bg-gray-button text-black hover:bg-darkgray-button font-manrope font-bold rounded-lg text-base;
  }

  .btn-google {
    @apply px-5 py-2 border-2 hover:bg-slate-100 font-manrope font-bold rounded-xl text-base;
  }

  .input-type {
    @apply rounded-lg caret-wine font-manrope px-2 py-2 bg-shadow border-shadow outline-none w-full text-wine font-semibold;
  }

  .tab-item {
    @apply text-base font-manrope font-bold text-gray-900 hover:text-gray-700;
  }

  .tab-item-active {
    @apply text-base font-manrope font-extrabold text-wine hover:text-darkwine underline decoration-wine decoration-4 underline-offset-4;
  }

  .main-page-bg {
    @apply bg-gradient-to-r from-gradient-beige to-gradient-red;
  }

  .main-page-active-button {
    @apply bg-wine hover:bg-darkwine text-beige font-manrope font-bold focus:ring-4 rounded-2xl text-base px-5 py-4 text-right inline-flex items-center justify-between my-4 drop-shadow-xl;
  }

  .main-page-inactive-button {
    @apply bg-white hover:bg-shadow text-black font-manrope font-bold focus:ring-4 rounded-2xl text-base px-5 py-4 text-right inline-flex items-center justify-between my-4 drop-shadow-xl;
  }

  .main-page-active-icon {
    @apply h-6 w-6 text-beige;
  }

  .main-page-inactive-icon {
    @apply h-6 w-6 text-black;
  }

  .global-shadow {
   box-shadow: 0 10px 25px 10px rgb(0 0 0 / 0.25);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
