@tailwind base;
@tailwind utilities;
@tailwind components;


@font-face {
  font-family: "YoungSerif";
  src: url("../public/fonts/YoungSerif.otf");
}



@layer components {
  .btn-primary {
    @apply px-5 py-2 bg-wine hover:bg-darkwine text-beige font-manrope font-bold rounded-lg text-base w-full;
  }

  .btn-secondary {
    @apply px-5 py-2 text-wine hover:text-darkwine font-manrope font-bold rounded-lg text-base;
  }

  .input-type {
    @apply rounded-lg caret-wine font-manrope px-2 py-2 bg-shadow border-shadow outline-none w-full text-wine font-semibold ;
  }

  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
